{% extends 'base.html.twig' %}

{% block toolbar %}
<div class="toolbar d-flex align-items-center justify-content-between p-2">
    <div class="left-side d-flex align-items-center standard-gap">
        <picture>
            <source srcSet="{{ asset('images/icon-monotone-white.svg') }}" media='(prefers-color-scheme: dark)'>
            <img src="{{ asset('images/icon-monotone-black.svg') }}" class="logo-image">
        </picture>

        <div class="logo-text">
            Blog
        </div>

        <nav class="main-menu ms-3">
            main menu here
        </nav>
    </div>

    <div class="right-side d-flex">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_admin') }}" class="btn-icon"><i class="bi bi-sliders"></i></a>
        {% endif %}

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <button class="btn-icon" data-bs-toggle="dropdown"><i class="bi bi-person-circle"></i></button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">{% trans from 'security' %}My Account{% endtrans %}</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{{ path('app_logout') }}">{% trans from 'security' %}Log Out{% endtrans %}</a></li>
            </ul>
        {% else %}
            <a href="{{ path('app_login') }}" class="btn btn-outline-secondary btn-sm">{% trans from 'security' %}Login{% endtrans %}</a>
            <a href="{{ path('app_register') }}" class="btn btn-primary btn-sm">{% trans from 'security' %}Register{% endtrans %}</a>
        {% endif %}
    </div>
</div>
{% endblock toolbar %}

{% block footer %}

{% endblock footer %}
